<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>网络工程</h3>
                    <ul>
                        <li><a href="http://localhost:4000/company_intro">班级介绍</a></li>
                        <li><a href="http://localhost:4000/process">通讯录</a></li>
                        <!--<li><a href="http://localhost:4000/organize">组织架构</a></li>
                        <li><a href="http://localhost:4000/culture">公司文化</a></li>-->
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>信息中心</h3>
                    <ul>
                        <li><a href="http://localhost:4000/company_dynamic">校园动态</a></li>
                        <li><a href="http://localhost:4000/media_report">班级活动</a></li>
                        <li><a href="http://localhost:4000/activity_report">杂事轶闻</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>服务中心</h3>
                    <ul>
                        <li><a href="http://localhost:4000/recruit">四六级查询</a></li>
                        <li><a href="http://localhost:4000/benefits">诚信考试网</a></li>
                        <li><a href="http://localhost:4000/staff_style">软考中心</a></li>
                        <!--<li><a href="http://localhost:4000/quit_notice">离职公示</a></li>-->
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>友情链接</h3>
                    <ul>
                        <li><a href="#">新大主页</a></li>
                        <li><a href="#">学院主页</a></li>
                        <li><a href="#">新大图书馆</a></li>
                        <li><a href="#">新大教务处</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2016.班级管理系统 Dreamer
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="http://localhost:4000">首页</a></li>
                    <li><a href="http://localhost:4000/contact_us">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="http://localhost:4000/web/js/jquery.js"></script>
<script src="http://localhost:4000/web/js/bootstrap.min.js"></script>
<script src="http://localhost:4000/web/js/jquery.prettyPhoto.js"></script>
<script src="http://localhost:4000/web/js/jquery.isotope.min.js"></script>
<script src="http://localhost:4000/web/js/main.js"></script>
<script src="http://localhost:4000/web/js/wow.min.js"></script>
</body>
</html>